<div class="content" role="main">
  <h3>Raised Buttons</h3>
  <div class="example-button-row">
    <button  class="mr-2 px-5 py-2 bg-red-400 rounded-sm text-white">Basic</button>
    <button  mat-stroked-button color="primary" style="margin-right: 8px;">Primary</button>
    <button  mat-stroked-button color="accent">Accent</button>
    <button  mat-flat-button color="warn" class="m-2">Warn</button>
    <button  disabled>Disabled</button>
    <a  routerLink=".">Link</a>
    <button class="btn">Tailwind Btn</button>
  </div>
  <router-outlet></router-outlet>
</div>